<section class="product container">
	<a href="hotelInfo.html">
		<div class="row">
			<div class="media">
				<div class="media-left media-middle">
					<img class="media-object" src="http://lorempixel.com/100/100/city/{{distance}}" alt="...">
				</div>
				<div class="media-body">
					<h3 class="media-heading">{{name}} <small>{{stars}}&star;</small></h3>
					<span>{{distance}} miles from theatre</span>
					<button class="btn btn-primary pull-right">&pound;{{price}}</button>
				</div>
			</div>
		</div>
	</a>
</section>