<a class="col-xs-12" href="hotelInfo.html">
	<section class="product row">
		<div class="product_image col-xs-4" style="background-image: url('http://lorempixel.com/500/500/city/{{distance}}');">	
		</div>
		<div class="product_body col-xs-8">
			<div class="product_header">
				<span class="product_name">{{name}}</span>
				<span class="product_rating">
					{{!-- {{stars}}  --}}
					<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
				</span>
			</div>
			<div>{{distance}} miles from theatre</div>
			<div class="product_footer">
				{{!-- <a href="hotelInfo.html" class="product_cta btn btn-accent btn-lg">&pound;{{price}}</a> --}}
				<div>total: &pound;{{price}}</div>
				<small>includes tickets &amp; hotel</small>
			</div>
		</div>
	</section>
</a>