<section class="product container">
		<div class="product_image">	
			<img class="" src="http://lorempixel.com/100/100/city/{{distance}}" alt="...">
		</div>
		<div class="product_body">
			<span class="product_name">{{name}} <small>{{stars}}&star;</small></span>
			<span>{{distance}} miles from theatre</span>
			<button class="btn">&pound;{{price}}</button>
		</div>
</section>